<header class="main-header">
  <nav class="navigation-menu">
    <ul class="navigation-menu__list">
      <li class="navigation-menu__item"><%= link_to "Портфолио", portfolio_path %></li>
      <li class="navigation-menu__item"><%= link_to "Цены", price_path %></li>
      <li class="navigation-menu__item"><%= link_to "Обо мне", about_path %></li>
      <li class="navigation-menu__item"><%= link_to "Контакты", contacts_path %></a></li>
    </ul>
  </nav>
</header>

<div class="main-page-title">
  <div class="main-page-title__desc">Photographer</div>
  <h1 class="main-page-title__name">Kotuk Bogdan</h1>
</div>

<div class="gallery-main" id="gallery">
  <div class="gallery-main__photos" style="margin-left: 0px">
    <% @photos.each do |photo| %>
      <div class="gallery-main__photo-wrap">
        <%= image_tag(photo.image, class: "gallery-main__photo") %>
      </div>
    <% end %>
  </div>

  <div class="gallery-controls">
    <button class="gallery-controls__prev" data-direction="prev"></button>
    <button class="gallery-controls__next" data-direction="next"></button>
  </div>
</div>

<div class="btn-wrap"><a href="/portfolio" class="btn">Смотреть все фото</a></div>
