<h4>Фотографии на странице портфолио</h4>
<%= link_to "Добавить новую", new_portfolio_photo_path %>

<% if @photos.any? %>
  <% @photos.each do |photo| %>
    <hr>
    <%= image_tag(photo.image.thumb) %>
    <div>Категория: <%= photo.category.display_name %></div>
    <div>
      <%= link_to "Редактировать", edit_portfolio_photo_path(photo),
            class: "btn btn-default btn-xs" %>
      <%= link_to 'Удалить', portfolio_photo_path(photo),
            method: :delete, data: { confirm: "Вы уверены?" },
            class: "btn btn-default btn-xs" %>
    </div>

    <div>
      <%= link_to "Показать оригинал", photo.image.url, target: "_blank" %>
    </div>
  <% end %>
<% else %>
  Нет фотографий
<% end %>
