<header class="main-header main-header--inner-pages">
  <nav class="navigation-menu">
    <div class="center-wrap clear-fix">
      <%= link_to root_path, class: "logo" do %>
       <span class="logo__name">Bogdan Kotiuk — <i class="logo__name--italic">фотограф</i></span>
      <% end %>
      <ul class="navigation-menu__list navigation-menu__list--to-right">
        <li class="navigation-menu__item"><%= link_to "Портфолио", portfolio_path %></li>
        <li class="navigation-menu__item"><%= link_to "Цены", price_path %></li>
        <li class="navigation-menu__item"><%= link_to "Обо мне", about_path %></li>
        <li class="navigation-menu__item"><%= link_to "Контакты", contacts_path %></a></li>
      </ul>
    </div>
  </nav>
</header>
