<!DOCTYPE html>
<html>
<head>
  <title>Dankot</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="page-wrap">
  <header class="main-header">
    <nav class="navigation-menu">
      <ul class="navigation-menu__list">
        <li class="navigation-menu__item"><%= link_to "Портфолио", portfolio_path %></li>
        <li class="navigation-menu__item"><%= link_to "Цены", price_path %></li>
        <li class="navigation-menu__item"><%= link_to "Обо мне", about_path %></li>
        <li class="navigation-menu__item"><%= link_to "Контакты", contacts_path %></a></li>
      </ul>
    </nav>
  </header>

  <%= yield %>

  <div class="push"></div>
</div>

<footer class="page-footer">
  <div class="center-wrap clear-fix">
    <div class="page-footer__copyright">© Kotuk Bogdan, portfolio, 2015</div>
    <div class="social-buttons">
      <a href="#" class="social-buttons__btn social-buttons__btn--vk"></a>
      <a href="#" class="social-buttons__btn social-buttons__btn--fb"></a>
      <a href="#" class="social-buttons__btn social-buttons__btn--twitter"></a>
      <a href="#" class="social-buttons__btn social-buttons__btn--google"></a>

    </div>
  </div>
</footer>

<%= yield :javascript_includes %>
</body>
</html>
